@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

$background: #f2f2f2;
$secondary: #69DED5;
$bg-blue: #22bee6;
$bg-pink: #d521f0;
$success: #4BB543;
$error: #D8000C;
$divider: #191919;

body {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 24px;
}

html {
  min-height: 100%;
}

.bg-gradient {
  background: $bg-blue;
  background: linear-gradient(45deg, $bg-blue 0%, $bg-pink 100%);
}

.box {
  background-color: $background;
  padding: 24px;
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

button {
  background-color: $secondary;
  color: $background;
  border: none;
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

button:hover {
  // background-color: darken($secondary, 25%);
  background-color: $background;
  border: $secondary solid 2px;
  color: $secondary;
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-weight: bold;
}

input, textarea {
  border: solid $divider 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-right: 16px;
}

#brand-logo {
  height: 32px;
  width: 32px;
  margin-right: 24px;
}

.summaryInput {
  height: 100px;
}

.successFull {
  color: $success !important;
}

.errorMsg {
  color: $error !important;
}

.text-nowrap {
  white-space: nowrap;
}

.contactSummary {
  margin-bottom: 16px;
  border-bottom: solid $divider 1px;
}

.nav-home {
  cursor: pointer;
}