@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.box {
  padding: 24px;

  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.25);
}

.selected{
  background-color: red;
}